body{
    background-color: rgb(216, 242, 242) ;
}
.profile-img{
    color: rgb(141, 141, 138);
    text-align: center;
    font-family: Montserrat;
}

.profile-img img{
    margin-top: 20px;
    border-radius: 50%;
}


.cnt2{
    text-align: center;
    background-color:rgb(98, 167, 151);
    color: aliceblue;
    font-family: Montserrat;
    border-radius: 0.5%;
    display:flexbox;
}

.about{
    color: beige;
    margin: 50px;
}

.works-title{
    text-align: center;
    color: rgb(141, 141, 138);
    font-family: Montserrat;
}

.img-fluid{

    width: 100%;      /* Hacer que ocupen todo el ancho disponible */
    object-position: center;
    margin: 5px; /* Margen de 5px alrededor de cada imagen (crea un espacio de 10px entre imágenes) */
    aspect-ratio: 2/ 1 ;
    height: auto;
    border-radius: 1%;
    border-color: black;
}

.card{
    margin-bottom: 20px;
}
.card-body{

    background-color:beige;
}

.cartel {
    position: absolute;
    white-space: nowrap;
    animation: mover 10s linear infinite;
    color: beige;
}

@keyframes mover {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}